@charset "UTF-8";
/* css/40_layoutStyle.css */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: navy;
}
#container{
    width: 1024px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 auto; /*바깥여백 상하 0, 좌우 auto*/
    height: auto;
}
.clear{
    clear:both; /*float속성을 준다면 해제*/
}

/*HEADER 영역 =============*/
header{
    /* 
    모서리를 둥글게 만들 수 있다 ~ 50%로 하면 원이된댜
    border-radius: 5%; 
    */
    margin: 10px 0;
    padding: 10px;
}

/*NAV 영역 =============*/
nav{
    background-color: rgba(220, 230, 240, 0.8);
    border-radius: 8px;
    height: 40px;
    margin-bottom: 5px;
}
nav ul{
    list-style-type: none; /*list 목록의 동그라미, 등등 타입 없앰*/
    margin: 0;
    padding: 0;
}
nav ul li{
    float: left;
    padding: 0 5px 0 0;
}
nav ul li a{
    display: block; /*li는 inline이므로 block으로 바꾸어줌*/
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: rgb(41, 41, 95);
}
nav ul li a:hover{ /*a태그에 마우스 대는 경우*/
    background-color: rgb(102, 153, 255);
    color: white;
    border-radius: 5px;
}

/*ARTICLE 영역 =============*/
article{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 75%;
    height: 570px;
    margin: 5px 1px;
    padding: 10px;

    float: left;
}
/*3행2열 테두리, 모서리 둥글게 5px padding 10px*/
article section{
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 45%;
    padding: 10px;
    margin: 7px;
    float: left;
}

/*ASIDE 영역 =============*/
aside{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 20%;
    height: 730px;
    margin: 5px 1px;
    padding: 10px;
    float: right;
}
aside nav{
    background: none;
    border: none;
}
aside nav ul{
    list-style-type: none;
}
aside nav ul li{
    padding: 0 5px;
}
aside nav ul li a{
    padding: 5px 0;
    width: 170px;
}
aside nav ul li a:hover{
    background-color: transparent; /*background를 투명하게 처리*/
    color: navy;
    font-weight: bold;
}

/*FOOTER 영역 =============*/
footer{
    background-color: rgba(220, 230, 240, 0.8);
    border: 1px solid lightblue;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 0.4em;
    line-height: 30px;
}